[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/tmdb/*"
  to = "/.netlify/functions/tmdb/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
